.calci{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}
.buttons{
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(215, 250, 242, 0.521);
}
.input-area{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.input-area input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
.buttons input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;   
}
.row {
    display: flex;  
    font-size: 100px;
    justify-content: space-evenly;
}

